body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: beige;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

h1 {
  text-align: center;
}

.forms {
  width: 60%;
  background-color: antiquewhite;
  margin: auto;
  padding: 50px;
  border-radius: 20px;
}

label {
  display: inline-block;
  width: 40%;
  padding: 10px 0px;
  padding-left: 35px;
}

input {
  width: 50%;
  padding: 5px;
  border: 0px;
  border-radius: 10px;
}

#submit-btn {
  width: 100%;
  padding: 20px 0px;
  text-align: center;
}

#btn {
  width: 29%;
  background-color: rgb(140, 255, 117);
  font-size: 20px;
}

/* not for not */

header {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  background: rgb(255, 250, 250);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

table {
  border-collapse: collapse;
  border: 5px ;
  max-width: 1200px;
  margin: 20px auto;
  width: 100%;
  border-color: #069370;
  border-radius: 10px;
}

.logo {
  color: #069370;
  height: 60px;
  font-size: 26px;
  line-height: 60px;
  padding: 0px 20px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
}

nav {
  float: right;
}

.clearfix {
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #069370;
}

nav ul li a.active,
nav ul li a:hover {
  background: #069370;
  color: black;
  transition: 0.5s;
}

@media (max-width: 1200px) {
  header {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    float: right;
    text-align: center;
    font-size: 30px;
    color: #069370;
  }
  .menu-toggle::before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 40px;
  }
  .menu-toggle.active::before {
    content: "\f00d";
  }

  nav {
    display: none;
  }

  nav.active {
    display: block;
    width: 100%;
  }

  nav.active ul {
    display: block;
  }

  /* .menu-toggle::after{
        content: '/f00d';
        
    } */
}
